<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">>
<head>
    <meta charset="UTF-8"/>
    <title th:utext="${title}"></title>
</head>
<body>
    <div layout:fragment="content">
        <h3 class="alert alert-info">Role Information</h3>
        <div class="row">
            <div class="col-5">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="idrole">ID ROLE</label>
                        <input type="text" class="form-control" id="idrole" placeholder="enter id role"/>
                        <small class="form-text text-muted">*Mandatory id role*</small>
                    </div>
                    <div class="form-group">
                        <label for="namerole">NAME ROLE</label>
                        <input type="text" class="form-control" id="namerole" placeholder="enter name role"/>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary">
                            <span class="fa fa-plus"></span> Save
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-6">
                <br/>
                <table class="table table-hover table-striped" id="tabelrole">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>NAME</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>r001</td>
                            <td>Sys-Admin</td>
                            <td>
                                <button class="btn btn-primary">
                                    <span class="fa fa-edit"></span>
                                    Detail
                                </button>&nbsp;
                                <button class="btn btn-danger">
                                    <span class="fa fa-edit"></span>
                                    Disable
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>r002</td>
                            <td>Staff</td>
                            <td>
                                <button class="btn btn-primary">
                                    <span class="fa fa-edit"></span>
                                    Detail
                                </button>&nbsp;
                                <button class="btn btn-danger">
                                    <span class="fa fa-edit"></span>
                                    Disable
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>r003</td>
                            <td>Manager</td>
                            <td>
                                <button class="btn btn-primary">
                                    <span class="fa fa-edit"></span>
                                    Detail
                                </button>&nbsp;
                                <button class="btn btn-danger">
                                    <span class="fa fa-edit"></span>
                                    Disable
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>NAME</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</body>
</html>