<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">>
<head>
    <meta charset="UTF-8"/>
    <title th:utext="${title}"></title>
</head>
<body>
    <div layout:fragment="content">
        <h3 class="alert alert-info">Role Information</h3>
        <div class="row">
            <div class="col-4">
                <form class="form-horizontal" id="formrole">
                    <div class="form-group">
                        <label for="idrole">ID ROLE</label>
                        <input type="text" class="form-control" id="idrole" placeholder="enter id role"/>
                        <small class="form-text text-muted">*Mandatory id role*</small>
                    </div>
                    <div class="form-group">
                        <label for="namerole">NAME ROLE</label>
                        <input type="text" class="form-control" id="namerole" placeholder="enter name role"/>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary getSaveRole">
                            <span class="fa fa-plus"></span> Save
                        </button>
                        <button type="button" class="btn btn-primary getUpdateRole">
                            <span class="fa fa-edit"></span> Update
                        </button>
                        <button type="button" class="btn btn-danger getCancelRole">
                            <span class="fa fa-times"></span> Cancel
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-7">
                <table class="table table-hover table-striped" id="tabelrole">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>NAME</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>NAME</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</body>
</html>